.mynavbar {
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  border-radius: 20px;
}
.mynavbar > div {
  margin-left: 0.8em;
  margin-right: 0.8em;
  padding: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
a.active {
  color:#F64473
}
.text {
  font-size: 16px !important;
  margin: auto;
}
div:has(>.active){
  background-color:rgb(249, 250, 251);
  color:#f562ab !important;
}
@media only screen and (max-width:900px){

  .mynavbar{
    background-color: transparent;
    z-index: 205;

  }
  .mynavbar > div {
    z-index: 201;
    background-color: white;
    margin-top:1em ;
    padding: 0.2em;
    border-radius: 50%;
    width: 37px;
    height: 37px;
  }
  .text{
    display: none;
  }
  .logo{
    display: none !important;
  }

}
