<div class="mynavbar">
  <div class="logo mt-lg-3">
    <a href="">
      <span class="icon">
        <app-svg name="logo"/>
      </span>
      <span class="text"></span>
    </a>
  </div>
  <div class="mt-lg-4">
    <a href="" class="">
      <span class="active">
        <app-svg name="content"/>
      </span>
      <span class="text">
          Content
      </span>
    </a>
  </div>
  <div class="mt-lg-4">
    <a href="" class="active">
      <span class="icon"><app-svg  name="customize"/></span>
      <span class="text">Customize</span>
    </a>
  </div>
  <div class="mt-lg-4">
    <a href="">
      <span class="icon"><app-svg name="links"/></span>
      <span class="text">Links</span>
    </a>
  </div>
</div>
